body{
    font-size: 3vh;
    margin: 0;
    padding:0;
}

#intro h2 {
    text-align: center;
}

#intro div{
    margin-left:20vh;
    margin-right:20vh;
    text-align: justify;
}

#ahead{
    
    border: 0.1em solid black;
    background-color: hsl(230, 87%, 29%);
    height: 78vh;
    width:auto;
    margin:0;
}

#ahead h2{
    color:white;   
    text-align: center;
}

#achieve {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;  
}

.notice {
    border: 0.1em solid black;
    background-color: rgb(241, 231, 231);
    border-radius: 2vh;
    width:35vh;
    min-width: 33vh;
    text-align: center; 
}

.notice img{
    display: inline-block;
    padding-top: 2vh;
    
    width:30vh;    
}

.notice p{
    padding-left:1vh;
    padding-right: 1vh;
}

.miniheading{
    text-align: center;
}

.description{
    text-align: justify;
    font-size: 0.8em;
}

.readmore{
    font-size: 0.7em;
    margin-bottom: 2vh;
    background-color: rgb(47, 205, 237);
    border:0.1em solid rgb(14, 92, 132);
    border-radius: 0.3em;
}

.readmore:hover{
    background-color: rgb(18, 169, 220);;
}

#last{
    text-align: center;
    
}

#stories{
    display: flex;   
    justify-content: space-evenly;
    
}

.important{
    
}

.under_departments{
    font-size: 0.7em;
}

.contact{
    font-size: 2vh;  
}