body{
    font-size: 3vh;
    margin: 0;
    padding:0;
}

#intro h2 {
    text-align: center;
}

#intro div{
    margin-left:20vh;
    margin-right:20vh;
    text-align: justify;
}

#ahead{
    
    border: 0.1em solid black;
    background-color: hsl(230, 87%, 29%);
    height: 65vh;
    width:100%;
    margin:0;
}

#ahead h2{
    color:white;   
    text-align: center;
}

#achieve {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;  
    
}

.notice {
    border: 0.1em solid black;
    background-color: rgb(241, 231, 231);
    border-radius: 2vh;
    width:35vh;
    
    text-align: center;
    height: 50vh
    
    
}

.notice img{
    display: inline-block;
    padding-top: 2vh;
    
    width:30vh;
    
}

.notice p{
    text-align: center;
}

#last{
    text-align: center;
}

#stories{
    display: flex;   
    justify-content: space-evenly;
}

.contact{
    font-size: 2vh;
}