body {
    margin: 0;
    padding: 0;
}

/* Menu */
#menu {
    position: fixed;
    width: 98%;
    margin: 5px;
}

#Fosimg {
    background-image: url(./src/Ruhuna.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
    padding-top: 1vh;
    text-align: center;
}

#welcome {
    margin-top: 15vh;
}

#intro{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
    padding: 60px;
}

#intro p{
    text-align: center;
    margin-bottom: 40px;
    color: #444;
}

#intro h2 {
    text-align: center;
    font-size: 2rem;
    color: #002147;
    font-weight: 600;
    margin-bottom: 10px;
}

#intro div {
    margin-left: 20px;
    margin-right: 20px;
    max-width:1000px;
    text-align: justify;
}

.intro-divider {
    width: 60px;
    height: 4px;
    background-color: #002147;
    border-radius: 2px;
}

#ahead {

    border: 0.1em solid black;
    background-color: #002147;
    width: auto;
    margin: 0;
}

#ahead h2 {
    color: white;
    text-align: center;
}

#achieve {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
    padding-bottom: 2vh;
    ;
}

.notice {
    border: 0.1em solid black;
    background-color: rgb(241, 231, 231);
    border-radius: 2vh;
    width: 35vh;
    min-width: 33vh;
    text-align: center;
}

.notice img {
    display: inline-block;
    padding-top: 2vh;

    width: 30vh;
}

.notice p {
    padding-left: 1vh;
    padding-right: 1vh;
}

.miniheading {
    text-align: center;
}

.description {
    text-align: justify;
    font-size: 0.8em;
}

.readmore {
    font-size: 0.7em;
    margin-bottom: 2vh;
    background-color: rgb(47, 205, 237);
    border: 0.1em solid rgb(14, 92, 132);
    border-radius: 0.3em;
}

.readmore:hover {
    background-color: rgb(18, 169, 220);
    box-shadow: 0vh 10vh 20vh black;
}

#last {
    text-align: center;

}

#stories {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vh;
    flex-wrap: wrap;
}

#calender_dates {
    display:flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    width:100%;
    border-radius: 10px;
}

.calender_box{
    display:flex;
    padding:5px;
    padding-right:10px;
    align-items: center;
    padding-bottom: 10px;; 
}

.important_date{
    width:60px;
    border-radius:10px;
    background-color:#f5fcff;
    transition: 0.2s;
}
.important_date p{
    margin:6px;
}

.month{
    font-size: 12px;
    color:red;  
}

.day{
    font-size: 1.2em;
    color:#032e60;
    font-weight: 400;
}

.events{
    margin-left:2px;
    width:100%;
    text-align: center;
}

.events h4{
    width: 100%;
    margin:0px; 
}

.events p{
    margin:0px;
    flex-grow: 1;
    font-size:10px;
    color:rgb(146, 144, 144);
    text-align: center;
}

.important_date:hover{
    background-color: #002147;
    color:white;  
}

.important_date:hover .month{
    color:gold;
}

.important_date:hover .day{
    color:white;
}

#list_departments{
    display:flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    width:100%;
    border-radius: 10px;
}

.depart_images{
    height: 40px;
}

#inside_departments{
    padding:5px;
}

.under_departments{
    border:1px solid #e4f0fa; 
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
}

.list_contents{
    width:100%;
}

.under_departments

.under_departments h4{
    margin:1px;
    padding-bottom: 2px;
}

.under_departments:hover{
    box-shadow:  0 10px 20px rgba(0,0,0,0.19);
    border-color:gold; 
}

.contact img {
    height: 3vh;
}

#venue {
    text-align: left;
    margin-left: 3vh;
}

#gmail {
    display: flex;
    justify-content: right;
    font-size: 0.9em;
    text-align: right;
    padding-bottom: 1vh;
    padding-left:20px
}

#gmail img {
    padding-top: 2.5vh;
}

#telephone{
    display: flex;
    text-align: left;
}

#telephone img{
    padding-left: 20px;
}


.news {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px;
    max-width: fit-content;
    padding: 10px;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
    justify-content: space-between;
    /* border-width: 0.5px;
    border-style: solid;
    border-color: rgb(180, 180, 180); */
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}
.news h3 {
    font-size: 18px;
    margin: 10px;
}

.news p {
    font-size: 14px;
    color: rgb(6, 4, 4);

}

.news button {
    background-color: #002147;
    color: azure;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
}

.news button a {
    text-decoration: none;
    color: aliceblue;
}


.news-img {
    min-width: 100px;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
    border-radius: 16px;
}

.news-grid {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}