body {
    margin: 0;
    padding: 0;
}

/* Menu */
#menu {
    position: fixed;
    width: 98%;
    margin: 5px;
}

#Fosimg {
    background-image: url(./src/Ruhuna.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    color: white;
    padding-top: 1vh;
    text-align: center;
}

#welcome {
    margin-top: 15vh;
}

#intro{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
}

#intro p{
    text-align: center;
}

#intro h2 {
    text-align: center;
}

#intro div {
    margin-left: 20px;
    margin-right: 20px;
    max-width:1000px;
    text-align: justify;
}

.intro-divider {
    width: 60px;
    height: 4px;
    background-color: #002147;
    border-radius: 2px;
}

#ahead {

    border: 0.1em solid black;
    background-color: #002147;
    width: auto;
    margin: 0;
}

#ahead h2 {
    color: white;
    text-align: center;
}

#achieve {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
    padding-bottom: 2vh;
    ;
}

.notice {
    border: 0.1em solid black;
    background-color: rgb(241, 231, 231);
    border-radius: 2vh;
    width: 35vh;
    min-width: 33vh;
    text-align: center;
}

.notice img {
    display: inline-block;
    padding-top: 2vh;

    width: 30vh;
}

.notice p {
    padding-left: 1vh;
    padding-right: 1vh;
}

.miniheading {
    text-align: center;
}

.description {
    text-align: justify;
    font-size: 0.8em;
}

.readmore {
    font-size: 0.7em;
    margin-bottom: 2vh;
    background-color: rgb(47, 205, 237);
    border: 0.1em solid rgb(14, 92, 132);
    border-radius: 0.3em;
}

.readmore:hover {
    background-color: rgb(18, 169, 220);
    box-shadow: 0vh 10vh 20vh black;
}

#last {
    text-align: center;

}

#stories {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2vh;
    flex-wrap: wrap;
}



#calender_dates {
    justify-content: space-evenly;
    align-items: center;

}

.calender {
    height: 60px;

}

.calender:hover {
    box-shadow: 0vh 10vh 20vh black;
    transition: 0.25s;
}

#details p{
    margin-bottom: 23px
}

.under_departments a {
    text-decoration: none;
}

.contact img {
    height: 3vh;
}

#venue {
    text-align: left;
    margin-left: 3vh;
}

#gmail {
    display: flex;
    justify-content: right;
    font-size: 0.9em;
    text-align: right;
    padding-bottom: 1vh;
    padding-left:20px
}

#gmail img {
    padding-top: 2.5vh;
}

#telephone{
    display: flex;
    text-align: left;
}

#telephone img{
    padding-left: 20px;
}