*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    padding: 0;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    max-height: 60px;
}

#logo{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    padding:2px 8px 2px 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#logoname{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#logoname p{
    margin: 0 10px;
    white-space: nowrap;
}
#logonamefos{
    font-size: 30px
}
#logonameuor{
    font-size: 15px;
}

#pageslist{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#pagename{
    margin-right: 5px;
    margin-left: 5px;
}
#pagename a{
    padding: 2px 8px 5px 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}