.box{
    position:relative;
    width:300px;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#landing {
    background-image: url(./ruhuna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-self: center;
    align-items: center;
    z-index: -1;
}
#landing h1 {
    color: white;
    font-size: 3em;
    margin: 0;
    padding: 0;
    margin-top: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#landing p {
    color: white;
    font-size: 1em;
    margin: 10px;
    padding: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
}
#content {
    display: flex;
    flex-direction: column;
}
#menu {
    position: fixed;
    width: 98%;
    margin: 5px;
}
#news_and_announcements{
    display: flex;
    flex-direction: row;
}
#special_announcements{
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 218, 194);
}
#events{
    display: flex;
    flex-direction: row;
}
.container {
    max-width: 1200px;
    margin: auto;
}
#p{
    text-align: justify;
}
.intro{
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(237, 218, 194);
}
.news-grid{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.news{
    flex: auto;
    border: 1px;
    max-width: fit-content;
    padding: 10px;
    text-align: center;
}

.news h3{
    font-size: 18px;
    margin: 10px;
}
.news p{
    font-size: 14px;
    color: rgb(6, 4, 4);
}
.news button{
    background-color: rgb(155, 106, 201);
    color: azure;
    padding: 8px 12px;
    cursor: pointer;
}