.box {
    position: relative;
    width: 300px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#landing {
    background-image: url(./ruhuna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-self: center;
    align-items: center;
    z-index: -1;
}

#landing h1 {
    color: white;
    font-size: 3em;
    margin: 0;
    padding: 0;
    margin-top: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#landing p {
    color: white;
    font-size: 1em;
    margin: 10px;
    padding: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
}

#menu {
    position: fixed;
    width: 98%;
    margin: 5px;
    z-index: 10;
}

#content {
    display: flex;
    flex-direction: column;
}

#news_and_announcements {
    display: flex;
    flex-direction: column;
    width: 100vw;

}

#special_announcements {
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-direction: column;
    background-color:#002147;
    color: white;
    padding: 20px;
}

#events {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.events-section{
    padding: 20px;
}
.container {
    max-width: 1200px;
    margin: auto;
}

#p {
    text-align: justify;
}
#intro-wrap{
    display: flex;
    justify-content: center;
}
.intro {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color:#002147;
    color: aliceblue;
    border-radius: 20px;
    width: 80vw;
}

.news-grid {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.news {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px;
    max-width: fit-content;
    padding: 10px;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
    justify-content: space-between;
    
}
.news {
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 5%;
}

.news h3 {
    font-size: 18px;
    margin: 10px;
}

#h2 {
    font-family: 'Times New Roman', Times, serif;
}

.news p {
    font-size: 14px;
    color: rgb(6, 4, 4);
    
}

.news button {
    background-color:#002147;
    color: azure;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;
}
.news button a{
    text-decoration: none;
    color: aliceblue;
}
*p {
    font-family: Arial, Helvetica, sans-serif;
}

.news-img {
    min-width: 100px;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1;
}


#calender_dates {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.calender {
    height: 10vh;

}

.calender:hover {
    box-shadow: 0vh 10vh 20vh black;
    transition: 0.25s;
}

#date {
    min-width:300px;
}