.box{
    position:relative;
    width:300px;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#landing {
    background-image: url(./1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-self: center;
    align-items: center;
    z-index: -1;
}
#landing h1 {
    color: white;
    font-size: 3em;
    margin: 0;
    padding: 0;
    margin-top: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#landing p {
    color: white;
    font-size: 1em;
    margin: 10px;
    padding: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
}
#content {
    display: flex;
    flex-direction: column;
}
#menu {
    position: fixed;
    width: 98%;
    margin: 5px;
}
#news_and_announcements{
    display: flex;
    flex-direction: row;
}