.box{
    position:relative;
    width:300px;
}
.hover-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(237, 6, 6, 0.7);
    color: white;
    padding: 5px;
    display: none;
}
.box:hover .hover-text {
    display: block;
}
#menu {
    position: fixed;
    width: 98%;
    margin: 5px;
}