body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}



#landing {
    background-image: url(./Ruhuna.jpg);
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-self: center;
    align-items: center;
    z-index: -1;
    background-size: cover;
    width: 100vw;
}

#landing h1 {
    color: white;
    font-size: 3em;
    margin: 0;
    padding: 0;
    margin-top: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#landing p {
    color: white;
    font-size: 1em;
    margin: 10px;
    padding: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.flex1-box {
    
    display: flexbox;
    flex-direction:row-reverse;
    gap: space-evenly;
    height: 400px;
    justify-items:space-around;
    align-items: center;
    z-index: -1;
    background-size: cover;
    width: 100vw;
}



.address{
    display: address;
    justify-content: center;
    align-items:center;
    text-align: center;
    width:200px;
    height: 150px;
    background-color: aqua;
    background-size: cover;
}


.phone{
    display: phone;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #457d9f;
    background-size: cover;

}

.office-hours{
    display: office-hours;

    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 100px;
    background-color: aqua;
    background-size: cover;
}

.send{
    display:send;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 400px;
    height: 400px;
    background-color: blue;
    background-size: cover;
}

.contact-info h2,
.contact-form h2{
    color: #003366;
    margin-top: 20px;

}
.contact-info p{
    margin-left: 10px;
    color: #333;

}
.contact-form{
    margin-top: 30px;
}
label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
input,textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid#ccc;

}
textarea{
    height: 120px;
    resize: none;

}
button{
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: #003366;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

}
button:hover{
    background-color: #0055aa;

}
#status{
    margin-top: 15px;
    font-weight: bold;
}


.flex2-box{
    display: flexbox;
    width: 100vw;
    height: 100px;

}
