body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}


/* Menu */
#menu {
    position: fixed;
    width: 98%;
    margin: 5px;
}

#landing {
    background-image: url(./Ruhuna.jpg);
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-self: center;
    align-items: center;
    z-index: -1;
    background-size: cover;
    width: 100vw;
    background-attachment: fixed;
}

#landing h1 {
    color: white;
    font-size: 3em;
    margin: 0;
    padding: 0;
    margin-top: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#landing p {
    color: white;
    font-size: 1em;
    margin: 10px;
    padding: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19); */
    border-radius: 25px;

}

.intro h2 {
    font-size: 2rem;
    color: #002147;
}

.intro p {
    max-width: 1000px;
}

.intro-divider {
    width: 60px;
    height: 4px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #002147;
    border-radius: 2px;
    align-items: center;

}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    align-items: start;
    margin-top: 30px;

}

.shadow {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19);
    padding: 15px;
    border-radius: 16px;
    height: 600px;
    min-width: 325px;
}

.flex1-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-items: right;
    align-items: end;

    text-align: center;

}



.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}


#landing {
    background-image: url(./Ruhuna.jpg);
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-self: center;
    align-items: center;
    z-index: -1;
    background-size: cover;
    width: 100vw;
}


.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

}

.office-hours {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.form {
    flex: 1;
    height: 100%;
}


.send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 15px;
    width: fit-content;

}



.flex1-box h3 {
    margin-bottom: 0px;
}

.map iframe {
    width: 80vw;
    height: 400px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-info h2,
.contact-form h2 {

    margin-top: 20px;

}

.contact-info p {
    margin-left: 10px;


}

.contact-form {
    margin-top: 30px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid#ccc;

}

textarea {
    height: 120px;
    resize: none;

}

#form_button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #002147;
    color: #f4f6f8;
}

#status {
    margin-top: 15px;
    font-weight: bold;
}


.flex2-box {
    display: flex;
    width: 100vw;
    height: 100px;

}