body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;

}
h1{
    text-align: center;
    color: #003366;

}
.subtitle{
    text-align: center;
    color: #555;
    margin-bottom: 30px;


}
.contact-info h2,
.contact-form h2{
    color: #003366;
    margin-top: 20px;

}
.contact-info p{
    margin-left: 10px;
    color: #333;

}
.contact-form{
    margin-top: 30px;
}
label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
input,textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid#ccc;

}
textarea{
    height: 120px;
    resize: none;

}
button{
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: #003366;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

}
button:hover{
    background-color: #0055aa;

}
#status{
    margin-top: 15px;
    font-weight: bold;
}