body {
    margin: 0;
    padding: 0;
    background-image: url(./../news/photo_2026-01-09_09-12-19.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#news_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.744);
}

#news_details {
    width: 80%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    overflow-y: scroll;
}

#news_img {
    background-image: url(/news/ristcon.jpg);
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    margin-bottom: 20px;
}

#news_head {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 5px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#news_head h1 {
    margin: 0 20px;
    color: #003366;
}


#news_head p {
    color: #666;
    margin: 0 20px;
    font-weight: 600;
}

#news_close {
    background-color: transparent;
    border: none;
    font-size: larger;
    cursor: pointer;
}

#news_description {
    text-align: justify;
}